PORT=8787
SUPABASE_URL=https://ymxxxfvxjheaiacddcfa.supabase.co
SUPABASE_KEY=sb_publishable_LRNsxU4hCSXDNnxSRlii4A_QuqIlY9w
VITE_SUPABASE_URL=https://ymxxxfvxjheaiacddcfa.supabase.co
VITE_SUPABASE_KEY=sb_publishable_LRNsxU4hCSXDNnxSRlii4A_QuqIlY9w
